<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title ">{{'Tratamientos de la víctima' | translate}}</h4>
        <button type="button" class="close " aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Nombre</th>
                        <th scope="col">Tiempo</th>
                        <th scope="col">Nº veces</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let index of tratamientos_vista; let i=index">
                        <td>{{index.nombre}}</td>
                        <td><input id='{{index.nombre}}' class="input" type="number" id="name" name="name" required size="5" value="{{index.tiempo}}" style="width: 70px;margin-top: 0.3rem;"></td>
                        <div *ngIf="i<cantidad; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock>
                            <td><input class="input" type="number" class="messageCheckbox" value="{{index.cantidad}}" (click)="UpdateTreatment(index.nombre,index.tiempo, index.cantidad)" style="width: 70px; ;margin-top: 0.3rem;"></td>
                        </ng-template>
                        <ng-template #elseBlock>
                            <td><input class="input" type="number" class="messageCheckbox" value="0" (click)="UpdateTreatment(index.nombre,index.tiempo, index.cantidad)" style=" width: 70px ;margin-top: 0.3rem;"></td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-primary " (click)="modalRef.hide() ">{{'pages.cancel' | translate }}</button>
        <button type="submit " class="btn btn-primary float-right  " (click)="UpdateTreatments()">{{ 'pages.submit' | translate}}</button>
    </div>
</ng-template>