<ng-template #template>
    <div class="modal-header">
        <div class="header1">
            <h4 class="modal-title pull-left">{{'pages.select-patient-img-modal-title' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    </div>
    <div class="modal-body">
        <p *ngIf="pacientes==undefined || pacientes.length == 0">No hay pacientes seleccionables</p>
        <div class="imgs">
            <div *ngFor="let p of pacientes; let i=index">
                <label *ngIf="this.idAnyadidos.includes(p.uid)" class="noSelected" (click)='selectpacientes(p.uid)'>
                    <p  class="nombre">{{p.nombre}}</p>
                    <img id="{{p.uid}}" src={{urlPrefixPacientes+p.img}} >
                    <!-- <i class="simple-icon-check"></i> -->
                </label>
                <label *ngIf="!this.idAnyadidos.includes(p.uid)" class="selected" (click)='selectpacientes(p.uid)'>
                    <p  class="nombre">{{p.nombre}}</p>
                    <img id="{{p.uid}}" src={{urlPrefixPacientes+p.img}}>
                    <!-- <i class="simple-icon-check"></i> -->
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="closeModal()">Cerrar</button>
    </div>
</ng-template>
<simple-notifications></simple-notifications>
