<div class="row">
    <div class="col-12">
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-12">

        <div class="row">
            <div class="col-md-12 mb-4">
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-6 mb-4">
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4">
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <!-- <app-logs></app-logs> -->
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-sm-12 col-lg-4 mb-4">
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-4">
        <div class="row">
            <div class="col-lg-4 col-xl-12 mb-4">

            </div>
            <div class="col-lg-4 col-xl-12 mb-4">
            </div>
            <div class="col-lg-4 col-xl-12 mb-4">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xl-4 col-sm-12 mb-4">
    </div>
    <div class="col-lg-6 col-xl-4 mb-4">
    </div>
</div>
