<ng-template #template>
    <div class="modal-header">
        <ng-template *ngIf="scene then editar else crear"> </ng-template>
        <ng-template #crear>
            <h4 class="modal-title pull-left">{{'pages.add-new-scene' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
        </ng-template>
        <ng-template #editar>
            <h4 class="modal-title pull-left">{{'pages.edit-scene' | translate}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
        </ng-template>
    </div>
    <form id="formElem" class="form-horizontal m-t-20 scrollMio" [formGroup]="formData" (ngSubmit)="createUpdateScene()">
        <div class="modal-body">
            <div>
                <label>{{ 'pages.nombre' | translate }}</label>
                <input type="email" class="form-control" formControlName="nombre" placeholder="" placeholder="">
            </div>
            <div class="mt-4">
                <label>{{ 'pages.descripcion' | translate }}</label>
                <textarea class="form-control" formControlName="descripcion" placeholder="" rows="3"></textarea>
            </div>
            <div *ngIf="ruta!='vacio'">
                <p class="mt-4">
                    <label>{{ 'pages.archivo' | translate }}</label>
                    <!-- <img id="imagen" class="imagen" src="./../../../../../assets/img/tiles/{{ruta}}" width="325" height="100" alt="Imagen escena"> -->
                    <input class="form-control" rows="3" type="file" id="file-selector" (change)="onFireSelected($event)" name="imagenEscena" />
                </p>
            </div>
            <div *ngIf="ruta=='vacio'">
                <p class="mt-4">
                    <label>{{ 'pages.archivo' | translate }}</label>
                    <input class="form-control" rows="3" type="file" (change)="onFireSelected($event)" id="file-selector" name="imagenEscena" />
                </p>
            </div>
        </div>
    </form>
    <canvas id="myCanvas" width="1600" height="800" style="position: absolute; left: 3000px; border:1px solid #000000;"></canvas>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right" (click)="createUpdateScene()">{{ 'pages.submit' | translate}}</button>
        <!-- <button type="button" class="btn btn-primary float-right" (click)=" this.crearImagenesEscena();()">{{ 'pages.ASDADS' | translate}}</button> -->
    </div>
</ng-template>